<ion-header>
  <ion-toolbar>
    <ion-segment value="true" (ionChange)="changeOpened($event)">
      <ion-segment-button value="true">
        <ion-label>Otevřené</ion-label>
      </ion-segment-button>
      <ion-segment-button value="false">
        <ion-label>Všechny</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Hledej nádražku" (ionChange)="changeSearch($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="!isLoading && (!loadedNadrazky || loadedNadrazky.length<=0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>Žádná nádražka nebyla nalezena! Zkuste to později.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && loadedNadrazky &&(!filteredNadrazky || filteredNadrazky.length<=0)">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <p>Žádná nádražka nebyla nalezena! Zkuste hledat jiný název.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="isLoading">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="!isLoading && filteredNadrazky.length>0">
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
        <ion-virtual-scroll
                [items]="filteredNadrazky"
                approxHeaderHeight="50px"
                approxItemHeight="60px"
        >
          <ion-item *virtualItem="let nadrazka" [routerLink]="['/', 'places', 'tabs', 'discover', nadrazka.id]" detail="">
            <ion-thumbnail slot="start">
              <ion-img *ngIf="nadrazka.introImage" [src]="nadrazka.introImage"></ion-img>
              <ion-img *ngIf="!nadrazka.introImage" src="assets/icon/ms-icon-310x310.png"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ nadrazka.name }}</h2>
              <p>{{ nadrazka.station }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
